.peVideo {
	min-height:100px;
	background:#eee;
	overflow:hidden;
	position:relative;
}
.peVideo-displayLink {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	/*IE needs SOME background for a link to display above anyhting else*/
	background:rgba(0,0,0,0);
}
.peVideo-displayCaption {
	position:absolute;
	top:0;
	right:0;
	left:0;
}
.peVideo-embed {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	width:100%;
}